body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /* everything I put here will go atop of chileds value (h1,h2,... everything inside the body) */
}

h1{
  font-size: 5.625rem;
  /* font-size: 90px; */
  /* font-size: 5.625rem - r is root so this h1 won't be affected by upstream size changes in body */
  margin: 60px auto 0 auto;
  /* line-height: 2; */
  font-family: 'Sacramento', cursive;
  color: #B270A2;
}

h2{
  font-family: 'Merriweather', serif;
  /* font-size: 30px; */
  /* line-height: 2; space between h1 and h2*/
  font-size: 2rem;
  color: #B270A2;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Merriweather', cursive;
  color: #B270A2;
}

p{
  line-height: 2;
}

hr{
  border: dotted #FCE2DB 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #B270A2;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}
a:hover{
  color: #FF8FB1;
}

/* div{
  background-color: #FCE2DB;
} */

.top-container{
  background-color: #FCE2DB;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #FCE2DB;
  padding: 50px 0 20px;



}
.top-cloud{
  position: relative;
  left: 250px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left:550px;
  bottom: 300px;
}


.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;

}

.mom{
  width: 18%;
  float: left;
  margin-right: 30px;
}

.work{
  width: 18%;
  float: right;
  margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #B2B2B2;
  font-size: 0.75rem;

}
/* .mom-skill-description{
  clear: left;
}
.eng{
  clear: right;
} */

.round {
  border-radius: 100%
}

.btn {
  background: #FCE2DB;
  background-image: -webkit-linear-gradient(top, #FCE2DB, #FF8FB1);
  background-image: -moz-linear-gradient(top, #FCE2DB, #FF8FB1);
  background-image: -ms-linear-gradient(top, #FCE2DB, #FF8FB1);
  background-image: -o-linear-gradient(top, #FCE2DB, #FF8FB1);
  background-image: linear-gradient(to bottom, #FCE2DB, #FF8FB1);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #B270A2;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e3b8d3;
  background-image: -webkit-linear-gradient(top, #e3b8d3, #f099e4);
  background-image: -moz-linear-gradient(top, #e3b8d3, #f099e4);
  background-image: -ms-linear-gradient(top, #e3b8d3, #f099e4);
  background-image: -o-linear-gradient(top, #e3b8d3, #f099e4);
  background-image: linear-gradient(to bottom, #e3b8d3, #f099e4);
  text-decoration: none;
}
